@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    font-family: 'Nunito', sans-serif;
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover, .navbar a.active {
  color: rgb(0, 0, 0);
}

.celineMenu div {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.celineMenu {
  display: none;
  z-index: 99;
  position: fixed;
  right: 35px;
}

.home {
  height: 100vh;
  background: linear-gradient(-90deg, rgb(195, 195, 195) 65%, white 35%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: rgb(195, 195, 195);
  border-radius: 50%;
  border: 25px solid white;
}

.home-image img {
  position: relative;
  max-width: 450px;
  bottom: 29px;
  border-radius: 50%;
}

.home-content {
  max-width: 600px;
  color: rgb(0, 0, 0);
  text-align: right;
}

.home-content h1 {
  font-size: 55px;
  line-height: 1.2;
}

.home-content h3 {
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.5rem;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 11px;
  margin-top: 10px;
  margin-left: 50px;
}
